GITHUB_TOKEN=XXXXXXXXXXXXXXXX
GITHUB_OWNER=cloudposse
GITHUB_REPO=github-commit-status
GITHUB_COMMIT_SHA=XXXXXXXXXXXXXXXX
GITHUB_COMMIT_STATE=success
GITHUB_COMMIT_CONTEXT=CI
GITHUB_COMMIT_DESCRIPTION="Commit status with target URL"
GITHUB_COMMIT_TARGET_URL=https://my.buildstatus.com/build/3
